<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="map.js"></script>
    <title>Document</title>
    <style>
    #map{
        height:400px;
        width:100%;
    }
    </style>
</head>
<body>
    <div id="map">
    </div>
   

    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbH9AZmKNDPW7m4JX6KD9Jn6Ba9PHVKTs&callback=initMap">
</script>
</body>

</html>